@font-face {
    font-display: swap;
    font-family: 'RussianPunk';
    src: local('RussianPunk'), url('fonts/RussianPunk.woff2') format('woff2'), url('fonts/RussianPunk.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }



html {
    font-family: 'RussianPunk';
    font-size: 2rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(180, 158, 33, 0.507);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    --color: firebrick;
    --border-color: firebrick;
    --shadow-color: rgb(112, 20, 20);

    position: relative;
    font-size: 25px;
    width: 200px;
    height: 75px;
    max-width: 100%;
    max-height: 100%;
    margin: 69px;
    border: none;
    background-size: cover;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: 'RussianPunk';
    font-weight: bold;
    background-color: var(--color);
    box-shadow: 0 -3px var(--color),
                3px 0 var(--color),
                0 3px var(--color),
                -3px 0 var(--color),
                0 -6px var(--border-color),
                3px -3px var(--border-color),
                6px 0 var(--border-color),
                0 6px var(--border-color),
                -3px 3px var(--border-color),
                -6px 0 var(--border-color),
                -3px -3px var(--border-color),
                3px 3px var(--border-color),
                0px 9px var(--shadow-color),
                3px 6px var(--shadow-color),
                6px 3px var(--shadow-color),
                0px 9px var(--shadow-color),
                -3px 6px var(--shadow-color),
                -6px 3px var(--shadow-color);
}
/* ==============================================Красота кнопки конечно же скопирована с интернета) ============================== */
.btn:active {
    top: 6px;
	box-shadow: 0 -3px var(--color),
                3px 0 var(--color),
                0 3px var(--color),
                -3px 0 var(--color),
                0 -6px var(--border-color),
                3px -3px var(--border-color),
                6px 0 var(--border-color),
                0 6px var(--border-color),
                -3px 3px var(--border-color),
                -6px 0 var(--border-color),
                -3px -3px var(--border-color),
                3px 3px var(--border-color),
                0px 6px var(--shadow-color),
                3px 3px var(--shadow-color),
                6px 0px var(--shadow-color),
                0px 6px var(--shadow-color),
                -3px 3px var(--shadow-color),
                -6px 0px var(--shadow-color);
}

#display,
#counter {
    height: 32px;
}
.restart {
    height: 50px;
}


/*============================== Trauvel Styles =================================*/

body{
    flex-direction: column;
    position: relative;
}

.header{
    width: 100%;
}

.raiting{
    text-align: center;
}

.raiting__title{
    margin: 0 auto;
}

.raiting__list{
    width: max-content;
    margin: 0 auto;
}

.input-name-form{
    display: flex;
    flex-direction: column;
    background: #b31d1d;
    width: max-content;
    height: max-content;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: none;
}

.input-name-form__menu{
    display: flex;
    flex-direction: column;
}

.live-hearth{
    width: max-content;
    margin: 0 auto;
}

/* .live-hearth svg{
    fill:red;
} */

/*============================== End Trauvel Styles =============================*/